<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<form name="newsletter">
    <div class="settings">
        <h1>Settings</h1>
        <div>
            <h2>
                <f:translate key="sender"/>
            </h2>
            <label for="">
                <f:translate
                        key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.sender_name"/>
                <f:form.textfield name="newsletter[senderName]" value="{pageData.newsletter.senderName}"></f:form.textfield>
            </label>

            <label for="">
                <f:translate
                        key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.sender_email"/>
                <f:form.textfield name="newsletter[senderEmail]" value="{pageData.newsletter.senderEmail}"></f:form.textfield>
            </label>
        </div>
        <div>
            <h2>
                <f:translate key="advanced_settings"/>
            </h2>
            <div>
                <label for="">
                    <f:translate
                            key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.replyto_name"/>
                    <f:form.textfield name="newsletter[replytoName]" value="{pageData.newsletter.replytoName}"></f:form.textfield>
                </label>

                <label for="">
                    <f:translate
                            key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.replyto_email"/>
                    <f:form.textfield name="newsletter[replytoEmail]" value="{pageData.newsletter.replytoEmail}"></f:form.textfield>
                </label>

                <label for="">
                    <f:translate
                            key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.bounce_account"/>
                    <f:form.select name="newsletter[uidBounceAccount]" class="form-select" options="{pageData.bounceAccounts}"
                                   value="{pageData.newsletter.bounceAccount}" prependOptionLabel="" prependOptionValue=""
                                   optionValueField="uid" optionLabelField="email"></f:form.select>
                </label>

                <label for="">
                    <f:translate
                            key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.plain_converter"/>
                    <f:form.select name="newsletter[plainConverter]" class="form-select">
                        <f:for as="plainConverter" each="{pageData.plainConverters}">
                            <f:if condition="{plainConverter.className} = {pageData.newsletter.plainConverter}">
                                <f:then>
                                    <f:form.select.option value="{plainConverter.className}" selected="true">
                                        {plainConverter.label}
                                    </f:form.select.option>
                                </f:then>
                                <f:else>
                                    <f:form.select.option value="{plainConverter.className}">{plainConverter.label}
                                    </f:form.select.option>
                                </f:else>
                            </f:if>
                        </f:for>
                    </f:form.select>
                </label>

                <label for="">
                    <f:translate
                            key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.repetition"/>
                    <f:form.select name="newsletter[repetition]" class="form-select" options="{pageData.repetition}"
                                   value="{pageData.newsletter.repetition}"></f:form.select>
                </label>

                <label for="">
                    <f:translate
                            key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.inject_open_spy"/>
                    <f:form.checkbox name="newsletter[injectOpenSpy]" value="{pageData.newsletter.injectOpenSpy}"></f:form.checkbox>
                </label>

                <label for="">
                    <f:translate
                            key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.inject_links_spy"/>
                    <f:form.checkbox name="newsletter[injectLinksSpy]" value="{pageData.newsletter.injectLinksSpy}"></f:form.checkbox>
                </label>
            </div>
        </div>
    </div>
    <div class="tabs-container sending-tab">
        <h1>
            <f:translate
                    key="LLL:EXT:newsletter/Resources/Private/Language/locallang_db.xlf:tx_newsletter_domain_model_newsletter.recipient_list"/>
        </h1>
        <f:form.select name="newsletter[recipientList]" id="recipientListSelector" class="form-select" optionValueField="uid"
                       optionLabelField="title" options="{pageData.recipientList}"
                       value="{pageData.newsletter.recipientList}"></f:form.select>
        <div class="sending-container">
            <div id="myGrid" class="ag-theme-alpine" style="height: 500px; min-width: 500px"></div>

            <div class="sending-actions">
                <div class="testing-container">
                    <h2>
                        <f:translate
                                key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:testing"/>
                    </h2>
                    <f:format.html>
                        <f:translate
                                key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:testing_explanation"/>
                    </f:format.html>
                    <span id="sendTestEmail-action" class="action-button">
                        <f:translate
                                key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:send_test_now"/>
                    </span>
                </div>
                <div class="planing-container">
                    <h2>
                        <f:translate
                                key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:planning"/>
                    </h2>
                    <p>
                        <f:translate
                                key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:date_start_sending"/>
                        :
                    </p>
                    <input type="datetime-local" name="tx_newsletter_web_newslettertxnewsletterm1[newsletter][plannedTime]"
                           value="{f:format.date(date: pageData.newsletter.plannedTime, format: 'Y-m-d H:i')}">
                    <span id="addToQueue-action" class="action-button">
                        <f:translate
                                key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:add_to_queue"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>