{namespace newsletter=Mirko\Newsletter\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<newsletter:includeCssFile name="module.css"/>

<h1>Newsletter Management</h1>
<div>

</div>
<f:form name="newsletter" action="newsletter" class="form-horizontal" arguments="{id:configuration.pageId}">
    <div class="row row-cols-auto align-items-center g-3 mb-3">
        <div class="col">
            <label for="page" class="form-label">
                <f:translate key="Mode"/>
            </label>
            <f:form.select class="form-select" id="page" name="page" options="{pages}" optionValueField="name" optionLabelField="label" value="{page}" additionalAttributes="{data-global-event='change', data-action-submit: '$form'}" />

            <f:if condition="{page} ">
                <f:render partial="Newsletter/{page}" arguments="{_all}"/>
            </f:if>
        </div>
    </div>
</f:form>

<script type="text/javascript">
    const moduleUrl = '{f:format.raw(value: moduleUrl)}';
</script>
</html>
